background = {{ .palette.background }}
foreground = {{ .palette.foreground }}
palette = 0={{ .palette.black }}
palette = 1={{ .palette.red }}
palette = 2={{ .palette.yellow }}
palette = 3={{ .palette.green }}
palette = 4={{ .palette.blue }}
palette = 5={{ .palette.magenta }}
palette = 6={{ .palette.cyan }}
palette = 7={{ .palette.white }}
palette = 8={{ .palette.bright_black }}
palette = 9={{ .palette.bright_red }}
palette = 10={{ .palette.bright_green }}
palette = 11={{ .palette.bright_yellow }}
palette = 12={{ .palette.bright_blue }}
palette = 13={{ .palette.bright_magenta }}
palette = 14={{ .palette.bright_cyan }}
palette = 15={{ .palette.bright_white }}
cursor-color = {{ .palette.cursor_color }}
cursor-text = {{ .palette.cursor_text }}
selection-background = {{ .palette.selection_background }}
selection-foreground = {{ .palette.selection_foreground }}
