*
!makefile
!alacritty/alacritty.yml
!dotfiles.svg
!gem/gemrc
!/git/config
!/git/ignore
!homebrew/apps.brew
!homebrew/fonts.brew
!homebrew/tools.brew
!install.sh
!irb/irbrc
!nvim/init.lua
!nvim/lua/plugins.lua
!nvim/lua/plugins/telescope.lua
!rails/railsrc
!readme.md
!screenshot.png
!tmux/tmux.conf
!zsh/.zprofile
!zsh/.zshrc
