*
!Makefile
!alacritty/alacritty.yml
!coc/extensions/package.json
!dotfiles.svg
!gem/gemrc
!git/config
!homebrew/Brewfile
!install.sh
!irb/irbrc
!nvim/coc-settings.json
!nvim/init.lua
!nvim/lua/plugins.lua
!rails/railsrc
!readme.md
!screenshot.png
!tmux/tmux.conf
!zsh/.zshrc
