theme "darkstar"
default_mode "normal"
default_shell "fish"
default_layout "compact"
show_startup_tips false

keybinds {
  shared {
    bind "Super down" { MoveFocus "down"; }
    bind "Super right" { MoveFocusOrTab "right"; }
    bind "Super up" { MoveFocus "up"; }
    bind "Super p" { SwitchToMode "pane"; }
    bind "Super t" { SwitchToMode "tab"; }
  }

  tab {
    bind "Super t" { SwitchToMode "normal"; }
  }

  pane {
    bind "Super p" { SwitchToMode "normal"; }
  }
}

plugins {
  compact-bar location="file:~/.config/zellij/plugins/zjstatus.wasm" {
    format_left "  {tabs}"
    format_right "{mode} #[fg=#275b69]{command_host_os_icon}  "

    mode_normal        ""
    mode_locked        "#[fg=red]  locked"
    mode_resize        "#[fg=magenta] resize"
    mode_pane          "#[fg=magenta] pane"
    mode_tab           "#[fg=magenta] tab"
    mode_scroll        "#[fg=magenta] scroll"
    mode_enter_search  "#[fg=magenta] enter search"
    mode_search        "#[fg=magenta] search"
    mode_rename_tab    "#[fg=magenta] rename tab"
    mode_rename_pane   "#[fg=magenta] rename pane"
    mode_session       "#[fg=magenta] session"
    mode_move          "#[fg=magenta] move"
    mode_prompt        "#[fg=magenta] prompt"
    mode_tmux          "#[fg=magenta] tmux"

    tab_normal "#[fg=#275b69]{name} "
    tab_active "#[fg=white]{name} "

    tab_sync_indicator       "󰓦 "
    tab_fullscreen_indicator "󱟱  "
    tab_floating_indicator   "󰉈 "

    command_host_os_icon_command "sh -c ~/.config/zellij/scripts/darkstar.sh"
    command_host_os_icon_format "{stdout}"
    command_host_os_icon_interval "0"
    command_host_os_icon_rendermode "static"
  }
}

ui {
  pane_frames {
    rounded_corners true
    hide_session_name true
  }
}
