theme "darkstar"
default_mode "normal"
default_shell "fish"
default_layout "compact"
show_startup_tips false

keybinds {
  shared {
    bind "Super down" { MoveFocus "down"; }
    bind "Super right" { MoveFocusOrTab "right"; }
    bind "Super up" { MoveFocus "up"; }
    bind "Super p" { SwitchToMode "pane"; }
    bind "Super t" { SwitchToMode "tab"; }
  }

  tab {
    bind "Super t" { SwitchToMode "normal"; }
  }

  pane {
    bind "Super p" { SwitchToMode "normal"; }
  }
}
