{{- define "rgb" -}}
  {{- $conv := dict
    "0" 0 "1" 1 "2" 2 "3" 3 "4" 4 "5" 5 "6" 6 "7" 7 "8" 8 "9" 9
    "a" 10 "b" 11 "c" 12 "d" 13 "e" 14 "f" 15
    "A" 10 "B" 11 "C" 12 "D" 13 "E" 14 "F" 15 -}}
  {{- $hex := substr 1 7 (printf "%s" .) -}}
  {{- $rgb := "" -}}
  {{- range $i := list 0 2 4 -}}
    {{- $v := substr (int $i) (int (add $i 2)) $hex -}}
    {{- $dec := add (mul (index $conv (substr 0 1 $v)) 16) (index $conv (substr 1 2 $v)) -}}
    {{- $rgb = printf "%s%d " $rgb $dec -}}
  {{- end -}}
  {{- trimSuffix " " $rgb -}}
{{- end -}}

themes {
    darkstar {
        text_selected {
            base       {{ template "rgb" .palette.selection_foreground }}
            background {{ template "rgb" .palette.selection_background }}
            emphasis_0 {{ template "rgb" .palette.red }} // unused
            emphasis_1 {{ template "rgb" .palette.red }} // unused
            emphasis_2 {{ template "rgb" .palette.red }} // unused
            emphasis_3 {{ template "rgb" .palette.red }} // unused
        }
        ribbon_selected {
            base       {{ template "rgb" .palette.foreground }}
            background {{ template "rgb" .palette.blue }}
            emphasis_0 {{ template "rgb" .palette.red }} // unused
            emphasis_1 {{ template "rgb" .palette.red }} // unused
            emphasis_2 {{ template "rgb" .palette.red }} // unused
            emphasis_3 {{ template "rgb" .palette.red }} // unused
        }
        ribbon_unselected {
            base       {{ template "rgb" .palette.black}}
            background {{ template "rgb" .palette.white }}
            emphasis_0 {{ template "rgb" .palette.red }} // unused
            emphasis_1 {{ template "rgb" .palette.red }} // unused
            emphasis_2 {{ template "rgb" .palette.red }} // unused
            emphasis_3 {{ template "rgb" .palette.red }} // unused
        }
        table_title {
            base       {{ template "rgb" .palette.black }}
            background {{ template "rgb" .palette.selection_background }}
            emphasis_0 {{ template "rgb" .palette.white }} // e.g. "(built-in)"
            emphasis_1 {{ template "rgb" .palette.white }} // Session layout
            emphasis_2 {{ template "rgb" .palette.red }}
            emphasis_3 {{ template "rgb" .palette.magenta }} // Arrows
        }
        table_cell_selected {
            base       {{ template "rgb" .palette.bright_black }}
            background {{ template "rgb" .palette.selection_background }}
            emphasis_0 {{ template "rgb" .palette.white }} // e.g. "(built-in)
            emphasis_1 {{ template "rgb" .palette.white }} // Session layout
            emphasis_2 {{ template "rgb" .palette.blue }}
            emphasis_3 {{ template "rgb" .palette.magenta }} // Arrows
        }
        table_cell_unselected {
            base       {{ template "rgb" .palette.black }}
            background {{ template "rgb" .palette.white }}
            emphasis_0 {{ template "rgb" .palette.white }} // e.g. "(built-in)
            emphasis_1 {{ template "rgb" .palette.white }} // Session layout
            emphasis_2 {{ template "rgb" .palette.red }}
            emphasis_3 {{ template "rgb" .palette.red }}
        }
        list_selected {
            base       {{ template "rgb" .palette.selection_foreground }}
            background {{ template "rgb" .palette.selection_background }}
            emphasis_0 {{ template "rgb" .palette.red }}
            emphasis_1 {{ template "rgb" .palette.red }}
            emphasis_2 {{ template "rgb" .palette.red }}
            emphasis_3 {{ template "rgb" .palette.red }}
        }
        list_unselected {
            base       {{ template "rgb" .palette.foreground }}
            background {{ template "rgb" .palette.background }}
            emphasis_0 {{ template "rgb" .palette.red }}
            emphasis_1 {{ template "rgb" .palette.red }}
            emphasis_2 {{ template "rgb" .palette.red }}
            emphasis_3 {{ template "rgb" .palette.red }}
        }
        frame_selected {
            base       {{ template "rgb" .palette.white }}
            background {{ template "rgb" .palette.white }}
            emphasis_0 {{ template "rgb" .palette.white }}
            emphasis_1 {{ template "rgb" .palette.white }}
            emphasis_2 {{ template "rgb" .palette.white }}
            emphasis_3 {{ template "rgb" .palette.white }}
        }
        frame_unselected {
            base       {{ template "rgb" .palette.black }}
            background {{ template "rgb" .palette.black }}
            emphasis_0 {{ template "rgb" .palette.black }}
            emphasis_1 {{ template "rgb" .palette.black }}
            emphasis_2 {{ template "rgb" .palette.black }}
            emphasis_3 {{ template "rgb" .palette.black }}
        }
        frame_highlight {
            base       {{ template "rgb" .palette.magenta }}
            background {{ template "rgb" .palette.magenta }}
            emphasis_0 {{ template "rgb" .palette.magenta }}
            emphasis_1 {{ template "rgb" .palette.magenta }}
            emphasis_2 {{ template "rgb" .palette.magenta }}
            emphasis_3 {{ template "rgb" .palette.magenta }}
        }
        exit_code_success {
            base       {{ template "rgb" .palette.green }}
            background {{ template "rgb" .palette.green }}
            emphasis_0 {{ template "rgb" .palette.green }}
            emphasis_1 {{ template "rgb" .palette.green }}
            emphasis_2 {{ template "rgb" .palette.green }}
            emphasis_3 {{ template "rgb" .palette.green }}
        }
        exit_code_error {
            base       {{ template "rgb" .palette.red }}
            background {{ template "rgb" .palette.red }}
            emphasis_0 {{ template "rgb" .palette.red }}
            emphasis_1 {{ template "rgb" .palette.red }}
            emphasis_2 {{ template "rgb" .palette.red }}
            emphasis_3 {{ template "rgb" .palette.red }}
        }
        multiplayer_user_colors {
            player_1  {{ template "rgb" .palette.red }}
            player_2  {{ template "rgb" .palette.yellow }}
            player_3  {{ template "rgb" .palette.green }}
            player_4  {{ template "rgb" .palette.blue }}
            player_5  {{ template "rgb" .palette.cyan }}
            player_6  {{ template "rgb" .palette.magenta }}
            player_7  {{ template "rgb" .palette.bright_red }}
            player_8  {{ template "rgb" .palette.bright_yellow }}
            player_9  {{ template "rgb" .palette.bright_green }}
            player_10 {{ template "rgb" .palette.bright_blue }}
        }
    }
}
