"attribute" = { fg = "violet" }
"comment" = { fg = "black" }
"constant" = { fg = "cyan" }
"constant.builtin" = { fg = "cyan", modifiers = ["bold"] }
"constant.character.escape" = { fg = "red", modifiers = ["bold"] }
"constructor" = { fg = "blue" }
"diagnostic.deprecated" = { modifiers = ["crossed_out"] }
"diagnostic.error" = { fg = "red" }
"diagnostic.hint" = { fg = "black" }
"diagnostic.info" = { fg = "blue" }
"diagnostic.unnecessary" = { modifiers = ["dim"] }
"diagnostic.warning" = { underline = { style = "curl", color = "orange" } }
"diff.delta" = { fg = "yellow" }
"diff.minus" = { fg = "red" }
"diff.plus" = { fg = "green" }
"error" = { fg = "red", modifiers= ["bold"] }
"function" = { fg = "blue" }
"function.builtin" = { fg = "blue", modifiers = ["bold"] }
"function.macro" = { fg = "magenta" }
"function.special" = { fg = "magenta" }
"hint" = { fg = "black", modifiers= ["bold", "underlined"] }
"info" = { fg = "blue", modifiers= ["bold", "underlined"] }
"keyword" = { fg = "green" }
"keyword.directive" = { fg = "orange" }
"label" = { fg = "green" }
"markup.bold" = { fg = "yellow", modifiers = ["bold"] }
"markup.heading" = "blue"
"markup.italic" = { fg = "magenta", modifiers = ["italic"] }
"markup.link.text" = "red"
"markup.link.url" = { fg = "blue", modifiers = ["underlined"] }
"markup.list" = "red"
"markup.quote" = "cyan"
"markup.raw" = "green"
"markup.strikethrough" = { modifiers = ["crossed_out"] }
"module" = { fg = "violet" }
"namespace" = { fg = "violet" }
"operator" = { fg = "green" }
"special" = { fg = "orange" }
"string" = { fg = "cyan" }
"tag" = { fg = "magenta" }
"type" = { fg = "blue" }
"type.builtin" = { fg = "blue", modifiers = ["bold"] }
"ui.background" = { fg = "white", bg = "background" }
"ui.bufferline" = { fg = "very_dark", bg = "background" }
"ui.bufferline.active" = { fg = "white", bg = "background" }
"ui.bufferline.background" = { bg = "background", fg = "red" }
"ui.cursor" = { fg = "cursor_text", bg = "cursor_color" }
"ui.cursor.match" = { bg = "background_two" }
"ui.cursor.primary" = { fg = "background", bg = "white" }
"ui.cursor.select" = { fg = "white", bg = "cyan" }
"ui.cursorline" = { bg = "very_dark" }
"ui.cursorline.primary" = { bg = "cursorline" }
"ui.cursorline.secondary" = { bg = "red" }
"ui.help" = { bg = "transparent" }
"ui.linenr" = { fg = "#475b62" }
"ui.linenr.selected" = { fg = "blue", modifiers = ["bold"] }
"ui.menu" = { fg = "white", bg = "background_two" }
"ui.menu.selected" = { fg = "white", bg = "black"}
"ui.popup" = { bg = "background_two" }
"ui.popup.info" = {fg = "white", bg = "transparent", modifiers = ["bold"]}
"ui.selection" = { bg = "green" }
"ui.selection.primary" = { bg = "selection_primary", modifiers=["bold"] }
"ui.statusline" = { fg = "very_dark", bg = "background" }
"ui.statusline.inactive" = { fg = "very_dark", bg = "backround" }
"ui.text" = { fg = "white" }
"ui.text.focus" = { fg = "blue", bg="cursorline", modifiers = ["bold"]}
"ui.text.info" = {fg = "white", modifiers = ["bold"]}
"ui.virtual.indent-guide" = { fg = "black" }
"ui.virtual.inlay-hint" = { fg = "white", modifiers = ["italic"] }
"ui.virtual.jump-label" = { fg = "red", modifiers = ["bold"] }
"ui.virtual.ruler" = { bg = "black" }
"ui.virtual.whitespace" = { fg = "white" }
"ui.window" = { fg = "white" }
"variable.builtin" = { fg = "cyan", modifiers = ["bold"] }
"variable.function" = { fg = "blue" }
"warning" = { fg = "orange", modifiers= ["bold", "underlined"] }

[palette]
background = "{{ .palette.background }}"
foreground = "{{ .palette.foreground }}"
black = "{{ .palette.black }}"
red = "{{ .palette.red }}"
green = "{{ .palette.green }}"
yellow = "{{ .palette.yellow }}"
blue = "{{ .palette.blue }}"
magenta = "{{ .palette.magenta }}"
cyan = "{{ .palette.cyan }}"
white = "{{ .palette.white }}"
bright_black = "{{ .palette.bright_black }}"
bright_red = "{{ .palette.bright_red }}"
bright_green = "{{ .palette.bright_green }}"
bright_yellow = "{{ .palette.bright_yellow }}"
bright_blue = "{{ .palette.bright_blue }}"
bright_magenta = "{{ .palette.bright_magenta }}"
bright_cyan = "{{ .palette.bright_cyan }}"
bright_white = "{{ .palette.bright_white }}"
cursor_color = "{{ .palette.cursor_color }}"
cursor_text = "{{ .palette.cursor_text }}"
selection_background = "{{ .palette.selection_background }}"
selection_foreground = "{{ .palette.selection_foreground }}"
orange = "#be3613"
bright_orange = "#ed8649"
cursorline = "#002B36"
very_dark = "#204a56"
selection_primary = "#234a56"
background_two = "#0b1f23"
